<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>WOODCRAFT HOME</title>
      </head>
      <body>
        <nav>
          <img src="/images/saw-blade.jpeg">
          <a href="/woodCrafts/new" >CREATE REQUEST</a>
          <a href="/woodCrafts/gallery">GALLERY</a>
          <a href="/woodCrafts" >HOME</a>
        </nav>
        <main>
         

    
    

    <h1>Welcome to Niladri's Wood-Crafts</h1>
    <h3>Hand crafted items to enhance your indoor and outdoor spaces!</h3>
    
    <div id="home">

    <img src="/images/Index.JPG" id="picture" alt="Holding a saw">

    
    </div>
    

    <table id="list">
        <thead id="list-head">
            <tr>
                <th>Wooden Craft</th>
                <th>Material</th>
                <th>Size / Dimensions</th>
                <th>Date Requested</th>
            </tr>
        </thead>
        <tbody>
            <% woodCrafts.forEach(function(woodCraft){ %>
                <tr>
                    
                    <td><%= woodCraft.itemDesired %></td>
                    <td><%= woodCraft.material %></td>
                    <td><%= woodCraft.size %></td>
                    <td><%= woodCraft.createdAt.toLocaleString() %></td>
                    <td>
                        <form action="/woodCrafts/<%= woodCraft._id %>/"><button type="submit">EDIT</button></form>
                        <form action="/woodCrafts/<%= woodCraft._id %>/?_method=DELETE" method="POST">
                        <button type="submit">DELETE</button>
                    </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</main>
<footer>
    <p>All Rights Reserved Copyright &copy; NSWC2021</p>
    <a href="/woodCrafts" >HOME</a>
    <a href="mailto: niladri.sinha89@gmail.com">CONTACT</a>
</footer>
</body>
</html>